.profile {
  height: 100vh;
}
.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  border-radius: 2em;
  border: 1px solid black;
  width: 30%;
  transform: translateX(50%);
}

.profile__card--header {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  & > p {
    margin-left: 3em;
  }
}
.profile__card--form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 500px;
  align-items: center;
  & > * {
    margin-top: 2em;
  }
}
