.single__product__container {
  margin-top: 2em;
  height: 100vh;
}
.right__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: flex-start;
  & > * {
    padding: 0em 0em 1em 0em;
  }
}
