.signin__modal__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 50%;
  border: 2px solid;
  border-radius: 1em;
  box-shadow: 24;
  background-color: white;
  padding: 2.5em;
  align-items: center;
}

form.signin__modal__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  & > * {
    margin-top: 3em;
  }
}
